[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = false

[dev-packages]

[packages]
collab-fuzz-runner = {editable = true, path = "."}

[requires]
python_version = "3.8"
